venv
.idea
dataset/*
ArtificialPapyri/Ressources/Backgrounds
ArtificialPapyri/Ressources/Fonts
ArtificialPapyri/Ressources/Texts
ArtificialPapyri/Dataset
training/model_store
predict/final_models/*
training/outputs
training/predictions